:root {
    --clr-text: #5c5c5c;
    --clr-primary: #2ecc71;
    --clr-dark: #2c3e50;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 10px;
}

.header-links {
    display: flex;
    gap: 2rem;
}

.header-links a {
    text-decoration: none;
    color: var(--clr-text);
    font-size: 20px;
}

.header-links a:focus {
    border-bottom: 3px solid var(--clr-primary);
}

.btn-signout {
    background: rgba(26, 191, 37, 0.758);
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: none;
}

.btn-signout:hover {
    cursor: pointer;
    opacity: 0.8;
}

.mobile-menu-btn {
    display: none;
}

.mobile-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    inset: 0;
}

.mobile-overlay {
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0, 0.6);
}

.mobile-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
    background: white;
    top: 50px;
    height: 50%;
    width: 90%;
}

.mobile-nav a {
    text-decoration: none;
    font-size: 2.8rem;
    color: black;
}

.hidden {
    display: none;
}

.intro {
    background-image: url("./images/bg-intro-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 400px 90%;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 15px 40px;
}

.intro-msg-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-msg-container h1 {
    font-size: 3rem;
    color: var(--clr-text);
    font-weight: bold;
}

.intro-msg-container p {
    font-size: 1.2rem;
    color: var(--clr-text);
}

.intro-msg-container button {
    background: var(--clr-primary);
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: none;
}

.intro-msg-container button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.intro-img {
    max-width: 60%;
}

.details {
    padding: 5px 40px;
}

.details-intro {
   padding-bottom: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.details-intro h2 {
    font-size: 2rem;
    color:var(--clr-text);
}

.details-intro p {
    color: var(--clr-text);
    font-size: 1rem;
}

.details-main {
    display: flex;
    gap: 1rem;
}

.detail {
    flex: 1;
}

.detail h3, 
.detail span {
    color: var(--clr-text);
}

.articles {
    padding: 10px 40px;
}

.articles h2 {
    color: var(--clr-text);
    font-weight: bold;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.article {
    flex: 1;
}

.article-main span,
.article-main h3, 
.article-main p {
    color: var(--clr-text);
}

.article h3 a {
    text-decoration: none;
    color: var(--clr-text);
    transition: color 0.2s ease;
}

.article h3 a:hover,
.article h3 a:focus {
    color: var(--clr-primary);
}



.footer {
    background: var(--clr-dark);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-nav {
    display: grid;
    grid-template-areas: 
      "about    career"
      "contact  support"
      "blog     privacy"
    ;
}

.about {
    grid-area: about;
}

.contact {
    grid-area: contact;
}

.blog {
    grid-area: blog;
}

.careers {
    grid-area: career;
}

.support {
    grid-area: support;
}

.privacy {
    grid-area: privacy;
}

.footer-nav a {
    text-decoration: none;
    color: white;
}

.footer nav a:focus {
    color: var(--clr-primary);
}

/*.btn-signout.footer {
    z-index: 1;
}*/

.footer-signout {
    color: white;
}

@media (max-width: 767px) {
    .header-links {
        display: none;
    }
    
    .btn-signout.header {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    .intro {
        flex-direction: column;
        background-position: center;
    }

    .intro-msg-container {
        order: 2;
    }

    .intro-img {
        max-width: 90vw;
    }

    .details {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .details-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .article-container {
        flex-direction: column;
        width: 100%;
    }

    .article {
        width: 100%;
    }

    .article img {
        max-width: 100%;
    }

    .footer,
    .footer-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer-links {
        gap: 0.5rem;
    }

    .footer {
        grid-template-columns: 1fr;
    }
}

